*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.header{

    background-color: var(--brand);

}
.header_top {
    padding: 18px 24px;
    display: flex;
    justify-content: space-around;
}
.header_top .logo img {
width: 124px;
height: 34px;
}
.header_top .header_options{
    display: flex;
}
.header_top .login p{
    color: var(--not-quite-black);
    background-color: var(--white);
    margin: 0 16px 0 0;
    font-size: 14px;
    padding: 7px 16px;
    display: inline-flex;
    border-radius: 40px;
}

.header_content{
    margin: 36px;
}

.header_content .title h2{
    color: #fff;
}

.header_content .text{
    color: #fff;
    margin-top: 20px;
}

.header_content .download .win{
    background-color: #fff;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    margin:  20px 0 ;
}
.header_content .download .win{
    color: var( --not-quite-black);
}

.header_content .download .open{
    background-color: var( --not-quite-black);
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    
    
}
.header_content .download .open a{
    color: #fff;
}
.header_content .download a{
    text-decoration: none;
}

.content img{
    max-width: 425px;
}
.content .section{
    padding: 20px;
}

.content .section h3{
    margin: 12px 0;
}
.footer{
    background-color: var( --not-quite-black);
    padding: 8px;

}
.footer .map {
display:grid ;
grid-template-columns: 1fr 1fr;
}
